[submodule "User_Service"]
	path = User_Service
	url = https://github.com/OwlBoard/User_Service.git
[submodule "Comments_Service"]
	path = Comments_Service
	url = https://github.com/OwlBoard/Comments_Service.git
[submodule "Canvas_Service"]
	path = Canvas_Service
	url = https://github.com/OwlBoard/Canvas_Service.git
[submodule "Desktop_Front_End"]
	path = Desktop_Front_End
	url = https://github.com/OwlBoard/Desktop_Front_End.git
[submodule "User_Service_Database"]
	path = User_Service_Database
	url = https://github.com/OwlBoard/User_Service_Database.git
[submodule "Comments_Service_Database"]
	path = Comments_Service_Database
	url = https://github.com/OwlBoard/Comments_Service_Database.git
[submodule "Templates"]
	path = Templates
	url = https://github.com/OwlBoard/Templates.git
