[submodule "User_Service"]
	path = User_Service
	url = https://github.com/OwlBoard/User_Service.git
[submodule "Comments_Service"]
	path = Comments_Service
	url = https://github.com/OwlBoard/Comments_Service.git
[submodule "Desktop_Front_End"]
	path = Desktop_Front_End
	url = https://github.com/OwlBoard/Desktop_Front_End.git
[submodule "Mobile_Front_End"]
	path = Mobile_Front_End
	url = https://github.com/OwlBoard/Mobile_Front_End.git
[submodule "Canvas_Service"]
	path = Canvas_Service
	url = https://github.com/OwlBoard/Canvas_Service.git
[submodule "Chat_Service"]
	path = Chat_Service
	url = https://github.com/OwlBoard/Chat_Service.git
[submodule "owlboard-orchestrator"]
	path = owlboard-orchestrator
	url = https://github.com/OwlBoard/owlboard-orchestrator.git
